@import url('http://fonts.cdnfonts.com/css/valorant');

body{
    margin: 0;
    padding: 0;
    background-image: url(valorantbg1edit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'VALORANT', sans-serif;
}
p{
    font-size:40px;
    color:white;
    text-align: center;
}

.content{
    margin: auto;
    width: 60%;
    background:rgba(255, 73, 73, 0.19);
    padding: 10px;
}
h2{
  font-size:30px;
  text-align: center;
  color:white;
}
.top{
  transition: all 0.5s;
}
.top-para{
    color:white;
    text-align:center;
    font-size: 20px;
}
.middle{
    margin-top:5px;
    padding: 5px;
}
.card{
     border: 1px solid hsl(355, 95%, 62%);
     padding:5px;
     margin-bottom: 5px;
     margin-top: 5px;
}
.card > h1, p{
    font-size:16px;
    text-align: center;
    padding: 15px;
}
.overlap-pos{
    margin-top: -30px;
    position: relative;
}

h1{
  color:white;
}
h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsla(355, 95%, 62%, 0.61);
    z-index: -1;
    transition: transform .3s ease;
  }

  h1 {
    position: relative;
    font-size: 20px;
  }

  /* html {
    block-size: 100%;
    inline-size: 100%;
  }

  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
  } */

  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
